@import "tailwindcss";

/* Theme (this replaces tailwind.config.js) */
@theme {
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);

  --color-primary: #ff1083;
  --color-gradient-left: #f4377b;
  --color-gradient-right: #ba30fb;

  --color-dark: #070707;
  --color-light: #ededed;

  --shadow-glow: 0 0 14px 0 #f4207b59;
}

html,body{
    overflow-x: hidden;

}
:root {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-manrope: "Manrope", sans-serif;
}
body {
  font-family: var(--font-manrope), sans-serif;
}

.font-display,
h1, h2, h3 {
  font-family: var(--font-bebas), sans-serif;
}
body {
  background: var(--color-dark);
  color: var(--color-light);
  font-family: var(--font-body);
}